@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#top:before, header#top:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#top:after {
  clear: both;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#wrapptop:before, #wrapptop:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#wrapptop:after {
  clear: both;
}

/* line 18, ../sass/style.scss */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 23, ../sass/style.scss */
#logo {
  float: left;
  width: 40%;
  margin-left: 0%;
  margin-right: -40%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 27, ../sass/style.scss */
#top-menu {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 30, ../sass/style.scss */
#slider {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 35, ../sass/style.scss */
#description {
  float: left;
  width: 60%;
  margin-left: 0%;
  margin-right: -60%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 38, ../sass/style.scss */
#latest {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 44, ../sass/style.scss */
#page {
  clear: left;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 51, ../sass/style.scss */
#sidebar {
  float: left;
  width: 20%;
  margin-left: 0%;
  margin-right: -20%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 54, ../sass/style.scss */
#content {
  float: left;
  width: 80%;
  margin-left: 20%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 57, ../sass/style.scss */
#footer {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 71, ../sass/style.scss */
a {
  color: #972121;
  text-decoration: none;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #972121;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #d74747;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #d74747;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #d74747;
}

/* line 76, ../sass/style.scss */
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/style.scss */
body {
  background: #1b1b1b url(../images/bg1.jpg) no-repeat top center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #d2d2d2;
}

/* line 90, ../sass/style.scss */
h1, h2, h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

/* line 95, ../sass/style.scss */
h1 {
  font-size: 32px;
}

/* line 99, ../sass/style.scss */
#top {
  background: rgba(0, 0, 0, 0.4);
}

/* line 103, ../sass/style.scss */
#wrapptop {
  background: #972121;
  min-height: 50px;
}

/* line 112, ../sass/style.scss */
#latest h3 {
  border: 0;
}

/* line 118, ../sass/style.scss */
#logo h1 {
  font-size: 32px;
  font-weight: 300;
  color: #d2d2d2;
  border: 0;
}

/* line 127, ../sass/style.scss */
#top-menu ul {
  list-style: none;
}
/* line 129, ../sass/style.scss */
#top-menu ul li {
  display: inline-block;
}
/* line 131, ../sass/style.scss */
#top-menu ul li a {
  text-decoration: none;
  color: #d2d2d2;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:visited {
  color: #d2d2d2;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:focus {
  color: white;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:hover {
  color: white;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:active {
  color: white;
}

/* line 140, ../sass/style.scss */
#menu ul {
  list-style: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 0;
}
/* line 146, ../sass/style.scss */
#menu ul li {
  text-align: center;
  padding: 5px 0;
}
/* line 150, ../sass/style.scss */
#menu ul li a {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
  color: #d2d2d2;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:visited {
  color: #d2d2d2;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:focus {
  color: #acacac;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:hover {
  color: #acacac;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:active {
  color: #acacac;
}
/* line 155, ../sass/style.scss */
#menu ul li:hover {
  background: #972121;
}

/* line 162, ../sass/style.scss */
#slider {
  font-weight: 300;
}

/* line 168, ../sass/style.scss */
#content p {
  font-size: 12px;
}

/* line 172, ../sass/style.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 176, ../sass/style.scss */
#footer p {
  font-size: 11px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
