@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#top:before, header#top:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#top:after {
  clear: both;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#wrapptop:before, #wrapptop:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#wrapptop:after {
  clear: both;
}

/* line 18, ../sass/style.scss */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 23, ../sass/style.scss */
#logo {
  float: left;
  width: 40%;
  margin-left: 0%;
  margin-right: -40%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 27, ../sass/style.scss */
#top-menu {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 30, ../sass/style.scss */
#slider {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 35, ../sass/style.scss */
#description {
  float: left;
  width: 60%;
  margin-left: 0%;
  margin-right: -60%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 38, ../sass/style.scss */
#latest {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 44, ../sass/style.scss */
#page {
  clear: left;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 51, ../sass/style.scss */
#sidebar {
  float: left;
  width: 20%;
  margin-left: 0%;
  margin-right: -20%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 54, ../sass/style.scss */
#content {
  float: left;
  width: 80%;
  margin-left: 20%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 57, ../sass/style.scss */
#footer {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 70, ../sass/style.scss */
a {
  color: #f04d42;
  text-decoration: none;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #f04d42;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #bd1a0f;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #bd1a0f;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bd1a0f;
}

/* line 75, ../sass/style.scss */
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 82, ../sass/style.scss */
body {
  background: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
}

/* line 87, ../sass/style.scss */
#top {
  background: #d2d2d2;
}

/* line 91, ../sass/style.scss */
#wrapptop {
  background: #1b1b1b;
  height: 50px;
}

/* line 97, ../sass/style.scss */
#logo h1 {
  font-size: 24px;
  font-weight: 300;
  color: #d2d2d2;
}

/* line 105, ../sass/style.scss */
#top-menu ul {
  list-style: none;
}
/* line 107, ../sass/style.scss */
#top-menu ul li {
  display: inline-block;
}
/* line 109, ../sass/style.scss */
#top-menu ul li a {
  text-decoration: none;
  color: #d2d2d2;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:visited {
  color: #d2d2d2;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:focus {
  color: #9f9f9f;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:hover {
  color: #9f9f9f;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:active {
  color: #9f9f9f;
}

/* line 118, ../sass/style.scss */
#menu ul {
  list-style: none;
  background: #1b1b1b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 0;
}
/* line 124, ../sass/style.scss */
#menu ul li {
  text-align: center;
}
/* line 127, ../sass/style.scss */
#menu ul li a {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
}
/* line 131, ../sass/style.scss */
#menu ul li:hover {
  background: #eee;
}
