@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
/* line 1, ../sass/_slider.scss */
#slider {
  z-index: 0;
  padding: 0;
  position: relative;
}
/* line 6, ../sass/_slider.scss */
#slider .slide-wrapper {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}
/* line 11, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container {
  width: 100% !important;
  height: 100% !important;
}
/* line 15, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container article.slide {
  float: left;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
}
/* line 22, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container article.slide h1 {
  background: #0094a9;
  padding: 20px;
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 36px;
  color: #fff;
}
/* line 32, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container article.slide p {
  background: #1d1917;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 18px;
  color: #fff;
}
/* line 43, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container .slide-1 {
  background: url(../images/slide1.jpg);
}
/* line 47, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container .slide-2 {
  background: url(../images/slide1.jpg);
}
/* line 51, ../sass/_slider.scss */
#slider .slide-wrapper .slide-container .slide-3, #slider .slide-wrapper .slide-container .slide-4 {
  background: url(../images/slide1.jpg);
}
/* line 58, ../sass/_slider.scss */
#slider .menu {
  position: absolute;
  bottom: 10px;
  z-index: 7;
  left: 45%;
}
/* line 64, ../sass/_slider.scss */
#slider .menu a {
  margin-left: 10px;
  opacity: 0.5;
  padding: 1px 5px;
  background: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px inset, white 0 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px inset, white 0 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px inset, white 0 2px 0px;
  color: black;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a:visited {
  color: black;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a:focus {
  color: black;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a:hover {
  color: black;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a:active {
  color: black;
}
/* line 75, ../sass/_slider.scss */
#slider .menu a.activeSlide {
  background: #0094a9;
  color: #0094a9;
  opacity: 1.0;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a.activeSlide:visited {
  color: #0094a9;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a.activeSlide:focus {
  color: #0094a9;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a.activeSlide:hover {
  color: #0094a9;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#slider .menu a.activeSlide:active {
  color: #0094a9;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#top:before, header#top:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
header#top:after {
  clear: both;
}

/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#wrapptop:before, #wrapptop:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#wrapptop:after {
  clear: both;
}

/* line 20, ../sass/style.scss */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 25, ../sass/style.scss */
#logo {
  float: left;
  width: 40%;
  margin-left: 0%;
  margin-right: -40%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 29, ../sass/style.scss */
#top-menu {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 32, ../sass/style.scss */
#slider {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 37, ../sass/style.scss */
#description {
  float: left;
  width: 60%;
  margin-left: 0%;
  margin-right: -60%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 40, ../sass/style.scss */
#latest {
  float: left;
  width: 40%;
  margin-left: 60%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 46, ../sass/style.scss */
#page {
  clear: left;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 53, ../sass/style.scss */
#sidebar {
  float: left;
  width: 20%;
  margin-left: 0%;
  margin-right: -20%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 56, ../sass/style.scss */
#content {
  float: left;
  width: 80%;
  margin-left: 20%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 59, ../sass/style.scss */
#footer {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 73, ../sass/style.scss */
a {
  color: #972121;
  text-decoration: none;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #972121;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #d74747;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #d74747;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #d74747;
}

/* line 78, ../sass/style.scss */
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 85, ../sass/style.scss */
body {
  background: #1b1b1b url(../images/bg1.jpg) no-repeat top center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #d2d2d2;
}

/* line 92, ../sass/style.scss */
h1, h2, h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 300;
}

/* line 97, ../sass/style.scss */
h1 {
  font-size: 32px;
}

/* line 101, ../sass/style.scss */
#top {
  background: rgba(0, 0, 0, 0.4);
}

/* line 105, ../sass/style.scss */
#wrapptop {
  background: #972121;
  min-height: 50px;
}

/* line 114, ../sass/style.scss */
#latest h3 {
  border: 0;
}

/* line 120, ../sass/style.scss */
#logo h1 {
  font-size: 32px;
  font-weight: 300;
  color: #d2d2d2;
  border: 0;
}

/* line 129, ../sass/style.scss */
#top-menu ul {
  list-style: none;
}
/* line 131, ../sass/style.scss */
#top-menu ul li {
  display: inline-block;
}
/* line 133, ../sass/style.scss */
#top-menu ul li a {
  text-decoration: none;
  color: #d2d2d2;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:visited {
  color: #d2d2d2;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:focus {
  color: white;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:hover {
  color: white;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#top-menu ul li a:active {
  color: white;
}
/* line 140, ../sass/style.scss */
#top-menu #github {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 12px 5px;
  margin-top: 10px;
}

/* line 152, ../sass/style.scss */
#menu ul {
  list-style: none;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 0;
}
/* line 158, ../sass/style.scss */
#menu ul li {
  text-align: center;
  padding: 5px 0;
}
/* line 162, ../sass/style.scss */
#menu ul li a {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
  color: #d2d2d2;
}
/* line 18, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:visited {
  color: #d2d2d2;
}
/* line 21, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:focus {
  color: #acacac;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:hover {
  color: #acacac;
}
/* line 27, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#menu ul li a:active {
  color: #acacac;
}
/* line 167, ../sass/style.scss */
#menu ul li:hover {
  background: #972121;
}

/* line 174, ../sass/style.scss */
#slider {
  font-weight: 300;
  min-height: 200px;
  padding-top: 20px;
}

/* line 182, ../sass/style.scss */
#content p {
  font-size: 12px;
}

/* line 186, ../sass/style.scss */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 190, ../sass/style.scss */
#footer p {
  font-size: 11px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
