@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700,300&subset=latin,latin-ext);
/* line 11, ../sass/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
  color: #313c48;
  background: #eff2f3;
  line-height: 1.5em;
  font-size: 16px;
}

/* line 19, ../sass/styles.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 24, ../sass/styles.scss */
.wrapper-small {
  max-width: 520px;
  margin: 0 auto;
}

/* line 29, ../sass/styles.scss */
p {
  margin-bottom: 14px;
}

/* line 33, ../sass/styles.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #d3574a;
}
/* line 18, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #d3574a;
}
/* line 21, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #2f3d4c;
}
/* line 24, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #2f3d4c;
}
/* line 27, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #2f3d4c;
}

/* line 40, ../sass/styles.scss */
h1 {
  font-size: 36px;
  line-height: 2em;
  font-weight: 600;
}

/* line 46, ../sass/styles.scss */
h2 {
  font-size: 30px;
  line-height: 2em;
  font-weight: 600;
}

/* line 52, ../sass/styles.scss */
h3 {
  line-height: 2em;
  font-size: 24px;
  font-weight: 600;
}

/* line 58, ../sass/styles.scss */
h4 {
  line-height: 2em;
  font-size: 18px;
  font-weight: 600;
}

/* line 64, ../sass/styles.scss */
h5 {
  line-height: 2em;
  font-size: 16px;
  font-weight: 600;
}

/* line 70, ../sass/styles.scss */
.bold {
  font-weight: 800;
}

/* line 74, ../sass/styles.scss */
.strong {
  font-weight: 900;
}

/* line 78, ../sass/styles.scss */
strong {
  font-weight: 800;
}

/* line 82, ../sass/styles.scss */
.thin {
  font-weight: 300;
}

/* line 2, ../sass/_front.scss */
.front-tpl .front-header {
  height: 485px;
  background: url(../img/bg-header.jpg) -25px -50px;
  background-size: calc(100% + 100px);
}
/* line 9, ../sass/_front.scss */
.front-tpl .top-bar {
  background: rgba(236, 240, 241, 0.9);
  height: 130px;
}
/* line 14, ../sass/_front.scss */
.front-tpl .logo {
  float: left;
  height: 100%;
  padding-top: 35px;
}
@media all and (max-width: 768px) {
  /* line 14, ../sass/_front.scss */
  .front-tpl .logo {
    float: none;
    display: block;
    text-align: center;
  }
}
/* line 26, ../sass/_front.scss */
.front-tpl .logo-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 32, ../sass/_front.scss */
.front-tpl .logo-description {
  display: inline-block;
  vertical-align: middle;
}
/* line 36, ../sass/_front.scss */
.front-tpl .logo-description p {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #bdbfbf;
  line-height: 1.2em;
}
/* line 43, ../sass/_front.scss */
.front-tpl .logo-description p.site-name {
  color: #d3574a;
  font-size: 24px;
  font-weight: 300;
}
/* line 52, ../sass/_front.scss */
.front-tpl .front-slider {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 2.8em;
}
@media all and (max-width: 768px) {
  /* line 52, ../sass/_front.scss */
  .front-tpl .front-slider {
    visibility: hidden;
  }
}
/* line 71, ../sass/_front.scss */
.front-tpl .front-slider span {
  line-height: 1em;
}
/* line 75, ../sass/_front.scss */
.front-tpl .front-slider .black {
  text-align: right;
}
/* line 81, ../sass/_front.scss */
.front-tpl .front-slider .white {
  color: #fff;
}
/* line 89, ../sass/_front.scss */
.front-tpl .welcome-message {
  position: relative;
  height: 315px;
  background: #d3574a url(../img/bg-welcome.jpg) no-repeat;
  background-position: top center;
  color: #ecf0f1;
  padding: 40px 0;
  text-align: center;
}
@media all and (max-width: 480px) {
  /* line 89, ../sass/_front.scss */
  .front-tpl .welcome-message {
    height: auto;
  }
}
/* line 102, ../sass/_front.scss */
.front-tpl .welcome-message h1 {
  text-transform: uppercase;
}
/* line 106, ../sass/_front.scss */
.front-tpl .welcome-message a {
  font-weight: 900;
  color: #ecf0f1;
}
/* line 18, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .welcome-message a:visited {
  color: #ecf0f1;
}
/* line 21, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .welcome-message a:focus {
  color: #2f3d4c;
}
/* line 24, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .welcome-message a:hover {
  color: #2f3d4c;
}
/* line 27, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .welcome-message a:active {
  color: #2f3d4c;
}
/* line 111, ../sass/_front.scss */
.front-tpl .welcome-message .mountain {
  position: static;
  width: 766px;
  height: 217px;
  margin: 0 auto;
  margin-top: -257px;
  background: url(../img/bg-welcme.png) no-repeat;
}
@media all and (max-width: 768px) {
  /* line 111, ../sass/_front.scss */
  .front-tpl .welcome-message .mountain {
    visibility: hidden;
  }
}
/* line 125, ../sass/_front.scss */
.front-tpl .menu {
  float: right;
  display: inline-block;
  padding-top: 35px;
}
@media all and (max-width: 768px) {
  /* line 125, ../sass/_front.scss */
  .front-tpl .menu {
    float: none;
    overflow: hidden;
    display: block;
    background: rgba(236, 240, 241, 0.9);
  }
}
/* line 137, ../sass/_front.scss */
.front-tpl .menu li {
  float: left;
  height: 60px;
  padding: 0 15px;
  border-right: 1px solid #f6f8f8;
  border-left: 1px solid #e1e4e5;
}
/* line 144, ../sass/_front.scss */
.front-tpl .menu li:first-child {
  border-left: 0;
}
/* line 148, ../sass/_front.scss */
.front-tpl .menu li:last-child {
  border-right: 0;
}
@media all and (max-width: 768px) {
  /* line 137, ../sass/_front.scss */
  .front-tpl .menu li {
    display: block;
    float: none;
    text-align: center;
  }
}
/* line 158, ../sass/_front.scss */
.front-tpl .menu li a {
  color: #d3574a;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 60px;
}
/* line 18, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .menu li a:visited {
  color: #d3574a;
}
/* line 21, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .menu li a:focus {
  color: #2f3d4c;
}
/* line 24, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .menu li a:hover {
  color: #2f3d4c;
}
/* line 27, ../../../../../../RubyF/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.front-tpl .menu li a:active {
  color: #2f3d4c;
}

@media all and (max-width: 480px) {
  /* line 170, ../sass/_front.scss */
  .front-content {
    padding: 40px 10px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 176, ../sass/_front.scss */
.skills {
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 181, ../sass/_front.scss */
.skills .skills--list {
  list-style: none;
  padding: 0;
}

/* line 187, ../sass/_front.scss */
.skills-item {
  width: 33%;
  max-width: 380px;
  float: left;
  margin-bottom: 20px;
  padding-right: 20px;
}
@media all and (max-width: 480px) {
  /* line 187, ../sass/_front.scss */
  .skills-item {
    width: 100%;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 200, ../sass/_front.scss */
.skills-item h4 {
  font-size: 14px;
  font-weight: normal;
}
/* line 205, ../sass/_front.scss */
.skills-item .skill-wrapper {
  background: #e1e4e5;
  position: relative;
  width: 380px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.07) inset;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.07) inset;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.07) inset;
}
/* line 213, ../sass/_front.scss */
.skills-item .skill-wrapper > span {
  display: inline-block;
  background: #e55e50;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 100%;
}
/* line 220, ../sass/_front.scss */
.skills-item .skill-wrapper .tooltip {
  position: absolute;
  top: -32px;
  margin-left: -15px;
  font-size: 11px;
  padding: 0 3px;
  color: #fff;
  background: #2f3d4c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 230, ../sass/_front.scss */
.skills-item .skill-wrapper .tooltip:after {
  border-color: #333 transparent;
  border-style: solid;
  border-width: 5px 5px 0px;
  bottom: -5px;
  content: "";
  display: block;
  left: 8px;
  position: absolute;
  width: 0px;
}
/* line 244, ../sass/_front.scss */
.skills-item .description {
  font-size: 12px;
  height: 48px;
  overflow: hidden;
}

/* line 251, ../sass/_front.scss */
.extra-info {
  font-size: 11px;
}

/* line 255, ../sass/_front.scss */
.page-footer {
  clear: both;
}

/* line 2, ../sass/include/_portfolio.scss */
.front-content .portfolio--list {
  padding: 0;
  list-style: none;
}

/* line 8, ../sass/include/_portfolio.scss */
.portfolio--article {
  width: 33.222%;
  float: left;
  /* min-height: 400px; */
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media all and (max-width: 768px) {
  /* line 8, ../sass/include/_portfolio.scss */
  .portfolio--article {
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  /* line 8, ../sass/include/_portfolio.scss */
  .portfolio--article {
    width: 100%;
    padding: 0 10px;
  }
}
/* line 24, ../sass/include/_portfolio.scss */
.portfolio--article .excerpt {
  padding-top: 10px;
  margin-bottom: 20px;
  background: #D3574A;
  padding-left: 10px;
  color: #fff;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  border-bottom: 3px solid #7D0C00;
}
/* line 37, ../sass/include/_portfolio.scss */
.portfolio--article .excerpt a {
  color: #fff;
}
/* line 40, ../sass/include/_portfolio.scss */
.portfolio--article .excerpt a:hover, .portfolio--article .excerpt a:active {
  opacity: 0.6;
}
/* line 47, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-wrapper {
  position: relative;
}
/* line 51, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-wrapper:hover .post-thumb-hover {
  display: block;
}
/* line 57, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb {
  display: block;
  height: auto;
  overflow: hidden;
  border-top: 2px solid #2F3D4C;
}
/* line 63, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb img {
  max-width: 100%;
}
/* line 68, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover {
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: transparent;
}
@media all and (max-width: 480px) {
  /* line 68, ../sass/include/_portfolio.scss */
  .portfolio--article .post-thumb-hover {
    display: block;
  }
}
/* line 85, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 92, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover:hover {
  background: rgba(0, 0, 0, 0.7);
}
/* line 96, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover:hover a {
  background: #fff;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  padding: 0;
}
/* line 105, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover:hover a span {
  display: block;
}
/* line 109, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover a {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  top: -24px;
  left: 0;
  /* line-height: 62px; */
  /* padding: 20px; */
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 122, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover a:hover {
  background: #fff;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  padding: 0;
}
/* line 131, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover a span {
  display: none;
  position: absolute;
  left: 7px;
  top: 7px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 140, ../sass/include/_portfolio.scss */
.portfolio--article .post-thumb-hover i {
  font-size: 36px;
}

/* line 147, ../sass/include/_portfolio.scss */
.portfolio--main-img {
  text-align: center;
}

/* line 2, ../sass/include/_blog.scss */
.front-content .blog--list {
  list-style: none;
  padding: 0;
}

/* line 9, ../sass/include/_blog.scss */
.blog--list .blog--article {
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 17, ../sass/include/_blog.scss */
.blog--list .post-title a {
  font-size: 32px;
  font-weight: 600;
  display: block;
  padding-left: 10px;
  line-height: 4em;
  background: transparent;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 26, ../sass/include/_blog.scss */
.blog--list .post-title a:hover {
  background: url(../img/bg-post.jpg) no-repeat;
  background-size: cover;
}
/* line 33, ../sass/include/_blog.scss */
.blog--list .post-date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  color: #9c9c9c;
}

/* line 91, ../sass/styles.scss */
.default-tpl .front-header {
  height: 150px;
  background: url(../img/bg-header-small.jpg) no-repeat;
  background-size: cover;
}
@media all and (max-width: 768px) {
  /* line 91, ../sass/styles.scss */
  .default-tpl .front-header {
    height: auto;
  }
}
/* line 101, ../sass/styles.scss */
.default-tpl .welcome-message {
  height: auto;
  text-align: left;
  padding: 20px 0;
}

/* line 109, ../sass/styles.scss */
.contact-list i {
  width: 25px;
  text-align: center;
  padding-right: 5px;
}
/* line 115, ../sass/styles.scss */
.contact-list li {
  margin-bottom: 10px;
}

/* line 120, ../sass/styles.scss */
.front-content {
  padding: 40px 0;
}
/* line 123, ../sass/styles.scss */
.front-content ul {
  list-style-type: disc;
  padding-left: 30px;
}

/* line 129, ../sass/styles.scss */
.page-footer {
  clear: both;
  background: #2f3d4c;
  padding: 40px 0;
  overflow: hidden;
  color: #ecf0f1;
}
/* line 136, ../sass/styles.scss */
.page-footer .logo {
  padding-top: 0;
}
/* line 140, ../sass/styles.scss */
.page-footer .contact {
  float: right;
  font-size: 30px;
  font-weight: 800;
  text-align: right;
}
/* line 146, ../sass/styles.scss */
.page-footer .contact a {
  color: #ecf0f1;
}
/* line 150, ../sass/styles.scss */
.page-footer .contact li {
  float: left;
  margin-left: 20px;
}
