.front-tpl {
	background: url(../img/bg-full.jpg);
	background-size: cover;
	background-position: bottom center;
}

.front-header {
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.3);

	.logo {
		float: left;

		p {
			font-size: 24px;
			color: #fff;
			padding: 30px 0 0 40px;
			font-weight: 300;
		}

		strong {
			
		}
	}

	.menu {
		float: right;
		margin-top: 25px;
		margin-right: 30px;

		li {
			display: inline-block;
			margin-right: 20px;

			a {
				@include links(#fff, #fdfdfd);
				text-transform: uppercase;
				@include transition(border-color 0.3s ease);
				font-weight: 600;
				padding: 6px 10px;
				border: 1px solid transparent;


				&:hover {
					border: 1px solid #fff;
					box-sizing:border-box;
				}
			}
		}
	}

	
}

.front-content {
	position: absolute;
	bottom: 20px;
	left: 0;
	padding: 30px;
	padding-left: 40px;
	background: rgba(0,0,0,0.3);
	color: #fff;
	width: 56%;
	line-height: 1.5em;

	h1 {
		font-size: 36px;
		font-weight: 100;
		line-height: 1.2em;
		text-transform: uppercase;

		strong {
			font-weight: 300;
		}
	}

	p {
		margin: 1.5em 0;
	}
}

@media all and (max-width: 768px) {
	.front-content {
		width: 100%;
	}

	.front-header {
		height: auto;
		overflow: hidden;
		.menu {
			li {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}
		}
	}
}

@media all and (max-height: 480px) {
	.front-tpl {
		background-attachment: fixed;
	}
	.front-content {
		position: static;
	}
}


// Portfolio

.front-portfolio {
	position: absolute;
	bottom: 20px;
	//height: 400px;
	background: rgba(0,0,0,0.4);
	padding: 30px;
	padding-left: 40px;
	padding-bottom: 0;
	width: 100%;
	max-height: 100%;
	color: #fff;

	img {
		float: left;
		display: inline-block;
		width: 50%;
	}

	h2 {
		font-size: 36px;
		font-weight: 400;
		color: #05b5ff;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
		line-height: 1em;

		span {
			color: #fff;
			font-weight: 100;
		}
	}
}

.description {
	/* display: none; */
	padding-top: 40px;
	line-height: 1.5em;
	padding-right: 20px;

}

.slick-slider {
	height: 100%;

	.slick-list {
		height: 100%;
	}

	.slick-track {
		height: 100%;
	}

	.slick-slide {
		max-height: 100%;
	}

	.img {
		max-height: 100%;
	}

	img {
		max-height: 100%;
	}
}

/* .slick-dots {
	position: absolute;
	top: 0;
}

.slick-prev {
	position: absolute;
	top: 30%;
	left: 0;
}

.slick-next {
	position: absolute;
	top: 30%;
	right: 0;
} */