.front-tpl {
	.front-header {
		height: 485px;
		background: url(../img/bg-header.jpg) -25px -50px;
		background-size: calc(100% + 100px);

	}

	.top-bar {
		background: rgba(236, 240, 241, 0.9);
		height: 130px;
	}

	.logo {
		float: left;
		height: 100%;
		padding-top: 35px;

		@media all and (max-width: 768px) {
			float: none;
			display: block;
			text-align: center;
		}
	}

	.logo-image {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	.logo-description {
		display: inline-block;
		vertical-align: middle;

		p {
			margin: 0;
			text-transform: uppercase;
			font-size: 12px;
			color: #bdbfbf;
			line-height: 1.2em;

			&.site-name {
				color: $red;
				font-size: 24px;
				font-weight: 300;
			}
		}
	}


	.front-slider {
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 900;
		line-height: 2.8em;

		// .black,
		// .white {
		// 	display: inline-block;
		// 	width: 400px;
		// 	height: 85px;
		// 	position: relative;
		// }

		@media all and (max-width: 768px) {
			visibility: hidden;
		}

		span {
			line-height: 1em;
		}

		.black {
			// background: rgba(255,255,255,0.9);
			// padding: 0 10px;
			text-align: right;
		}

		.white {
			color: #fff;
			// background: rgba(0,0,0,0.9);
			// padding: 0 10px;
			// margin-left: -15px;
		}
	}

	.welcome-message {
		position: relative;
		height: 315px;
		background: #d3574a url(../img/bg-welcome.jpg) no-repeat;
		background-position: top center;
		color: $white;
		padding: 40px 0;
		text-align: center;

		@media all and (max-width: 480px) {
			height: auto;
		}

		h1 {
			text-transform: uppercase;
		}

		a {
			font-weight: 900;
			@include links($white, $black);
		}

		.mountain {
			position: static;
			width: 766px;
			height: 217px;
			margin: 0 auto;
			margin-top: -257px;
			background: url(../img/bg-welcme.png) no-repeat;

			@media all and (max-width: 768px) {
				visibility: hidden;
			}
		}
	}

	.menu {
		float: right;
		display: inline-block;
		padding-top: 35px;

		@media all and (max-width: 768px) {
			float: none;
			overflow: hidden;
			display: block;
			background: rgba(236, 240, 241, 0.9);
		}

		li {
			float: left;
			height: 60px;
			padding: 0 15px;
			border-right: 1px solid #f6f8f8;
			border-left: 1px solid #e1e4e5;

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-right: 0;
			}

			@media all and (max-width: 768px) {
				display: block;
				float: none;
				text-align: center;
			}

			a {
				@include links($red, $black);
				font-weight: 900;
				font-size: 14px;
				text-transform: uppercase;
				line-height: 60px;
			}
		}
	}
}

@media all and (max-width: 480px) {
	.front-content {
		padding: 40px 10px !important;
		@include box-sizing(border-box);
	}
}

.skills {
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	
	.skills--list {
		list-style: none;
		padding: 0;
	}
}

.skills-item {
	width: 33%;
	max-width: 380px;
	float: left;
	margin-bottom: 20px;
	padding-right: 20px;

	@media all and (max-width: 480px) {
		width: 100%;
		padding: 0 10px;
		@include box-sizing(border-box);
	}

	h4 {
		font-size: 14px;
		font-weight: normal;
	}

	.skill-wrapper {
		background: #e1e4e5;
		position: relative;
		width: 380px;
		height: 20px;
		@include border-radius(10px);
		@include box-shadow(3px 3px 4px rgba(0,0,0,0.07) inset);

		> span {
			display: inline-block;
			background: #e55e50;
			@include border-radius(10px);
			height: 100%;
		}

		.tooltip {
			position: absolute;
			top: -32px;
			margin-left: -15px;
			font-size: 11px;
			padding: 0 3px;
			color: #fff;
			background: $black;
			@include border-radius(4px);

			&:after {
				border-color: #333 transparent;
				border-style: solid;
				border-width: 5px 5px 0px;
				bottom: -5px;
				content: "";
				display: block;
				left: 8px;
				position: absolute;
				width: 0px;
			}
		}
	}

	.description {
		font-size: 12px;
		height: 48px;
		overflow: hidden;
	}
}

.extra-info {
	font-size: 11px;
}

.page-footer {
	clear: both;
}

// .rw-words{
// 	display: inline;
// 	text-indent: 10px;
// }
// .rw-words-1 span{
// 	position: absolute;
// 	opacity: 0;
// 	left: 10px;
// 	top: 10px;
// 	overflow: hidden;
// 	-webkit-animation: rotateWord 6s linear infinite 0s;
// 	-ms-animation: rotateWord 6s linear infinite 0s;
// 	animation: rotateWord 6s linear infinite 0s;
// }
// .rw-words-1 span:nth-child(2) { 
//     -webkit-animation-delay: 3s; 
// 	-ms-animation-delay: 3s; 
// 	animation-delay: 3s; 
// }

// @-webkit-keyframes rotateWord {
//     0% { opacity: 0; }
//     2% { opacity: 0; -webkit-transform: translateY(-30px); }
// 	5% { opacity: 1; -webkit-transform: translateY(0px);}
//     17% { opacity: 1; -webkit-transform: translateY(0px); }
// 	20% { opacity: 0; -webkit-transform: translateY(30px); }
//     100% { opacity: 0; }
// }
// @-ms-keyframes rotateWord {
//     0% { opacity: 0; }
//     2% { opacity: 0; -ms-transform: translateY(-30px); }
// 	5% { opacity: 1; -ms-transform: translateY(0px);}
//     17% { opacity: 1; -ms-transform: translateY(0px); }
// 	20% { opacity: 0; -ms-transform: translateY(30px); }
//     100% { opacity: 0; }
// }
// @keyframes rotateWord {
//     0% { opacity: 0; }
//     2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
// 	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
//     17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
// 	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
//     100% { opacity: 0; }
// }