$blue: #0094a9;

#slider {
		z-index:0;
		padding:0;
		position:relative;

		.slide-wrapper {
			width:100%;
			height:200px;
			margin-bottom:40px;

			.slide-container {
				width:100% !important; 
				height:100% !important; 

				article.slide {
					float:left;
					width:100%;
					height:100%;
					background-size:cover;
					position:relative;

					h1 {
						background:#0094a9;
						padding:20px;
						position:absolute;
						top:5%;
						left:10%;
						font-size:36px;
						color:#fff;
					}

					p {
						background:#1d1917;
						padding:20px;
						position:absolute;
						top:40%;
						left:10%;
						font-size:18px;
						color:#fff;
					}
				}

				.slide-1 {
					background:url(../images/slide1.jpg);
				}

				.slide-2 {
					background:url(../images/slide1.jpg);
				}

				.slide-3,.slide-4 {
					background:url(../images/slide1.jpg);
				}

			}
		}

		.menu {
			position:absolute;
			bottom: 10px;
			z-index:7;
			left: 45%;
			
			a {	
				margin-left:10px;
				$bgclick:#000;
				opacity:0.5;
				padding:1px 5px;
				background:$bgclick;
				@include border-radius(10px);
				@include box-shadow(rgba(0,0,0,0.8) 0 1px 2px inset, rgba(255,255,255,1.0) 0 2px 0px);
				@include link-colors($bgclick, $bgclick, $bgclick, $bgclick, $bgclick);
			}

			a.activeSlide {
				$blue: #0094a9;
				background: $blue;
				@include link-colors($blue, $blue, $blue, $blue, $blue);
				opacity:1.0;
			}


		}
	}


.prev {
	position:absolute;
	left:5%;
	top:45%;
}

.next {
	position:absolute;
	right:5%;
	top:45%;
}

.prev, .next {
	top:45%;
	background:$blue;
	@include border-radius(50%);
	padding:10px 5px;
	@include text-shadow(rgba(0,0,0,0.8)1px 1px 0px);
	@include box-shadow(rgba(0,0,0,0.8)1px 1px 1px);
	z-index:5;
}
