$red: rgba(151, 33, 33, 1);

#wplogo {
	background:$red;
	width:100px;
	height:80px;
	@include border-radius(40px 20px 40px 20px);
	//@include perspective(600px);
	//@include rotate(45deg, 600px);
	  //transform: perspective( 500px ) rotateY( 45deg ) rotateX(35deg) rotateZ(20deg);
	  .gwd-canvas-zij8 {
        position: absolute;
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform-style: preserve-3d;
        width: 133.921875px;
        height: 109.0503033957px;
        left: 162.1796875px;
        top: 44.0725084375px;
      }
}