@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,700&subset=latin,latin-ext);
@import "compass";
$white: #ecf0f1;
$red: #26ADE4;
$black: #2f3d4c;

@import "screen";

@mixin links($link, $link-hover) {
	@include link-colors($link, $link-hover, $link-hover, $link, $link-hover);
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	background: #fff;
	line-height: 1.5em;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;

	@media all and (max-width: 1200px) {
		padding: 0 15px;
	}
}

.text-wrapper {
	max-width: 960px;
	margin: 0 auto;

	h1, h2, h3, h4, h5 {
		font-family: 'Noticia Text', serif;
		margin-bottom: 0.65em;
	}
}

.wrapper-small {
	max-width: 520px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 14px;
}

a {
	text-decoration: none;
	@include transition(0.3s all ease);
	@include links($red, $black);
}

h1,h2,h3,h4,h5,h6 {
	margin: 1.5em 0;
	line-height: 1.5em;
}


h1 {
	font-size: 48px;
	font-weight: 600;
	font-family: 'Noticia Text', serif;
}

h2 {
	font-size: 36px;
	font-weight: 600;
}

h3 {
	line-height: 2em;
	font-size: 30px;
	font-weight: 600;
}

h4 {
	font-size: 24px;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	font-weight: 600;
}

h6 {
	font-size: 16px;
}

.bold {
	font-weight: 800;
}

.strong {
	font-weight: 900;
}

strong {
	font-weight: 800;
}

.thin {
	font-weight: 300;
}

.text-center {
	text-align: center;
}

.visuallyHidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

@import "front";
@import "include/sections";
@import "include/lists";
@import "include/animate";
@import "include/portfolio";
@import "include/blog";
@import "include/contact";
@import "include/about";
//@import "include/grid";
@import "include/header";
@import "include/logo-text";
@import "include/default-tpl";
@import "include/tooltip";
@import "include/btns";
@import "include/exp-counter";
@import "include/grid-hover-effect";

.default-tpl {
	.front-header {
		height: 150px;
		background-size: cover;

		@media all and (max-width: 768px) {
			height: auto;
		}
	}

	.welcome-message {
		height: auto;
		text-align: left;
		padding: 20px 0;
	}
}

.contact-list {
	i {
		width: 25px;
		text-align: center;
		padding-right: 5px;
	}

	li {
		margin-bottom: 10px;
	}
}

.front-content {
	padding: 40px 0;
	background: url(../img/pattern.jpg);
	position: relative;
	overflow: hidden;

	&:before {
		position: absolute;
		content: "";
		width: 200%;
		top: 0;
		height: 40px;
		background: #fff;
		transform: rotate(0.6deg);
	}

	ul {
		list-style-type: disc;
		padding-left: 30px;
	}
}

.page-footer {
	clear: both;
	background: #000;
	padding: 40px 0;
	overflow: hidden;
	color: #fff;

	.logo {
		padding-top: 0;

		@media all and (max-width: 767px) {
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}
	}

	.logo-image {
		@media all and (max-width: 767px) {
			float: none;
		}
	}

	.logo-description p {
		color: #fff;
	}

	.contact {
		float: right;
		font-size: 30px;
		font-weight: 800;
		text-align: right;

		@media all and (max-width: 767px) {
			width: 100%;
			text-align: center;
		}
		
		a {
			color: #26ADE4;
		}

		li {
			float: left;
			margin-left: 20px;

			@media all and (max-width: 767px) {
				float: none;
				display: inline-block;
			}
		}
	}
}