// Struktura

@import "zen";
@import "compass";

$zen-column-count:  5;
$zen-gutter-width:  20px;

$max-width:1200px;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);

header#top{
	@include zen-grid-container;
}
#wrapptop {
	@include zen-grid-container;
}
.row {
	max-width:$max-width;
	margin:0 auto;
}

#logo {
	@include zen-grid-item(2,1);
}

#top-menu {
	@include zen-grid-item(2,4);
}
#slider {
	@include zen-clear();
	@include zen-grid-item(5,1);
}

#description {
	@include zen-grid-item(3,1);
}
#latest {
	@include zen-grid-item(2,4);
}



#page {
	@include zen-clear();
	@include zen-grid-container;
	max-width:$max-width;
	margin:0 auto;
}

#sidebar {
	@include zen-grid-item(1,1);
}
#content {
	@include zen-grid-item(4,2);
}
#footer {
	@include zen-clear();
	@include zen-grid-item(5,1);
}


//Style

$dark: #1b1b1b;
$red: #f04d42;
$light:#d2d2d2;
$light20: darken($light, 20);
$darktrans: rgba(0,0,0,0.4);

a {
	@include link-colors($red,darken($red,20),darken($red,20),$red,darken($red,20));
	text-decoration:none;
}

html, body {
	width:100%;
	min-height:100%;
	margin:0;
	padding:0;
}

body {
	background:url(../images/bg1.jpg) no-repeat top center;
	background-size:cover;
	font-family: 'Open Sans', sans-serif;
	color:$light;
}

h1, h2, h3 {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	font-weight:300;

}
h1 {
	font-size:32px;
}

#top {
	background:$darktrans;
}

#wrapptop {
	background:$darktrans;
	min-height:50px;
}

#logo {
	h1 {
		font-size:32px;
		font-weight:300;
		color:$light;
	}
}

#top-menu {
	ul {
		list-style:none;
		li {
			display:inline-block;
			a {
				text-decoration:none; 
				@include link-colors($light,$light20,$light20,$light,$light20);
			}
		}
	}
}

#menu {
	ul {
		list-style:none;
		background:$darktrans;
		@include border-radius(4px);
		padding: 20px 0;

		li {
			text-align:center;
			//background:#eee;
			a{
				@include text-shadow(rgba(0,0,0,0.5) 1px 1px);
			}

			&:hover {
				background:#eee;
			}
		}
	}
}

#slider {
	font-weight:300; 
}
#footer {
	position:absolute;
	bottom:0;
	left:0;
	p {
		font-size:11px;
		text-align:center;
		border-top: 1px solid rgba(255,255,255,0.2);
		background: rgba(0,0,0,0.4);
		padding:5px;
	}
}