---
layout: front
title: Strona Główna
---

<h2><span class="thin">Ostatnie</span> <span class="bold">Realizacje</span></h2>
<ul class="portfolio--list">
{% for post in site.posts | limit:7 %}

  {% if post.portfolio %}
    <li class="portfolio--article">
        <div class="post-thumb-wrapper">
        	<a class="post-thumb" href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt=""></a>
	    	<div class="post-thumb-hover">
	    		<a href="{{ post.url }}"><span class="field-content"><i class="fa fa-link"></i></span></a>
	    	</div>
        </div>
      
      <p class="excerpt">{{ post.excerpt }}</p>
    </li>
  {% endif%} 
{% endfor %}
</ul>


<div class="skills">
  <h2>
    <span class="thin">Moje</span> Umiejętności
  </h2>

  <ul class="skills--list">
    <li class="skills-item">
      <h4>html5</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="85%">
          <span class="tooltip"></span>
        </span>
      </div>
      <div class="description">
        <p><strong>znam, potrafię</strong>: semantyka kodu, stare & nowe znaczniki, !divitis, modularny kod, estetyka</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>css3</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="90%">
          <span class="tooltip"></span>
        </span>
      </div>
      <div class="description">
        <p><strong>znam, potrafię</strong>: stare & nowe znaczniki, animation, transition, pozycjonowanie, modularny kod, estetyka</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>sass & compass</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="70%">
          <span class="tooltip"></span>
        </span>
      </div>
      <div class="description">
        <p><strong>znam, potrafię</strong>: $zmienne, @mixiny, zagnieżdżanie, extendy, zalety compassa, modularny kod, estetyka</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>less</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="50%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: $zmienne, zagnieżdżanie, extendy, modularny kod, estetyka</p>
      </div>
    </li>    

    <li class="skills-item">
      <h4>JavaScript</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="20%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: instrukcje warunkowe, pętle, trochę info o obiektach</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>jQuery</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="60%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: trochę funkcji, jak stosować, proste skrypty (menu rozwijające, funkcja pobierająca wartości, slidery)</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>php</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="20%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: instrukcje warunkowe, pętle, kilka funkcji</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>zen-grids</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="90%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: dobrze stosować, efektywnie wykorzystywać, zen-new-row, container, zen-grid-item etc.</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>bootstrap</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="35%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: wiem co to jest, znam kilka klas oraz zasadę działania, wiem gdzie jest dokumentacja z rozpiską</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>drupal</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="65%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: tworzyć szablony, strukture szablonu, panel administracyjny, views</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>wordpress</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="50%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: tworzyć szablony, dodatkowe zawartości, widget-area</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>prestashop</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="20%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: tworzyć szablony</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>joomla!</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="25%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: tworzyć szablony, trochę panel administracyjny</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>responsive web design</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="85%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: @media-queries, mobile first</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>git</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="40%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: zasadę działania, checkout, push, branche</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>adobe photoshop</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="80%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: obsługa programu, znajomość funkcji, filtrów, tworzenie projektów graficznych stron, wizytówek</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>gimp</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="60%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: obsługa programu, znajomość funkcji, tworzenie grafiki</p>
      </div>
    </li>

    <li class="skills-item">
      <h4>sublime text</h4>
      <div class="skill-wrapper">
        <span class="test" data-width="80%">
          <span class="tooltip"></span>
        </span>
      </div>

      <div class="description">
        <p><strong>znam, potrafię</strong>: obsługa programu, skróty klawiszowe, emmet</p>
      </div>
    </li>

  </ul>

  <section class="extra-info">
    <p>* jest to subiektywna ocena i może się trochę różnić od ocen innych, odpowiednio może być wyższa lub niższa. Opis może nie zawierać wszystkich zagadnień.</p>
  </section>
</div>