---
layout: default
title: Portfolio
---
<ul class="portfolio--list">
{% for post in site.posts %}

  {% if post.portfolio %}
    <li class="portfolio--article">
        <div class="post-thumb-wrapper">
        	<a class="post-thumb" href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt=""></a>
	    	<div class="post-thumb-hover">
	    		<a href="{{ post.url }}"><span class="field-content"><i class="fa fa-link"></i></span></a>
	    	</div>
        </div>
      
      <p class="excerpt">{{ post.excerpt }}</p>
    </li>
  {% endif%} 
{% endfor %}
</ul>