@import "compass";



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300&subset=latin,latin-ext);
@import "responsive";

body {
	font-family: 'Open Sans', sans-serif;
	/* background: url(../images/bg.jpg)  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

@mixin link($normal, $hover) {
	@include link-colors($normal, $hover, $hover, $normal, $hover);
}

a {
	@include link(#981418, #af0d12);
	text-decoration: none;
}
  
.left {
	background: rgba(255,255,255,0.9);
	color: #0b0b0b;
	margin-top: -10px;
	text-align: center;
	@include border-radius(0 0 20px 20px);
	@include box-shadow(1px 1px 1px rgba(0,0,0,0.3));

	.logo {
		img {
			max-width: 50%;
		}
	}

	.main-navigation {
		ul {
			list-style: none;
			padding: 0;

			li {
				border-bottom: 1px solid rgba(0,0,0,0.2);
				width: 80%;
				margin: 6px auto;
				line-height: 1.2em;

				a {
					font-weight: 300;
					text-transform: uppercase;
					font-size: 18px;
					display: block;
				}

				span {
					font-size: 12px;
				}
			}
		}
	}

	.footer {
		font-size: 12px;
	}
}

.content {
	.welcome {
		font-size: 40px;
		color: #fdfdfd;
		text-transform: uppercase;
		font-weight: 300;
		line-height: 1.4em;
		@include text-shadow(1px 1px 1px rgba(0,0,0,0.6));

		.bold {
			font-weight: 800;
			font-size: 60px;
		}
	}
}

.post {
	width: 50%;
	@include border-radius(3px);
	background: rgba(255,255,255,0.3);
	float: left;
}

@media screen and (max-device-width: 800px) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}