<div class="about-author">
    <div class="img">
        <img src="/img/pbasiak.png" alt="Paweł Basiak, tworzenie i projektowanie stron www">
    </div>
    <div class="desc">
        <p class="title">O autorze</p>
        <p>Pasjonuję się projektowaniem oraz tworzeniem profesjalnych stron internetowych. Z przyjemnością łączę te elementy w codziennej pracy. Dzięki współpracy z zaufanymi firmami jestem w stanie kompleksowo wykonać strony. Ciągle się rozwijam, stawiam coraz wyższe cele oraz wykonuję swoje czynności perfekcyjnie. </p>
    </div>
</div>