<footer class="page-footer">
	<div class="wrapper">
		<div class="logo">
			<div class="logo-image">
	            <img src="{{ site.url }}/img/logo_new_light.png" alt="">
	        </div>
	        <div class="logo-description">
	            <p class="site-name">Paweł <span class="bold">Basiak</span></p>
	            <p><span class="bold">Front-end</span> Developer</p>
	        </div>
		</div>

		<div class="contact">
			<p class="phone">+48 792 516 921</p>
			<p class="awesome">
				<ul>
					<li><a href=""><i class="fa fa-phone"></i></a></li>
					<li><a href=""><i class="fa fa-sun-o"></i></a></li>
					<li><a href=""><i class="fa fa-skype"></i></a></li>
					<li><a href=""><i class="fa fa-behance"></i></a></li>
					<li><a href=""><i class="fa fa-linkedin"></i></a></li>
					<li><a href=""><i class="fa fa-envelope"></i></a></li>
					<li><a href=""><i class="fa fa-twitter"></i></a></li>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</p>
		</div>
	</div>
</footer>