<footer class="page-footer">
	<div class="wrapper">
		<div class="logo">
			<div class="logo-image">
                 <svg viewBox="0 0 600 500" class="svg-defs">

                    <!-- Symbol with text -->
                    <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="50%" dy="50px" class="text">
                            PB
                        </text>
                    </symbol>

                    <!-- Mask with text -->
                    <mask id="m-text" maskunits="userSpaceOnUse" maskcontentunits="userSpaceOnUse">

                        <rect width="100%" height="100%" class="mask__shape">
                        </rect>
                        <use xlink:href="#s-text" class="mask__text"></use>

                    </mask>
                </svg>

                <div class="box-with-text">

                    <!-- Container for video -->
                    <div class="text-fill">
                        <video class="video" src="/img/bokeh2.mp4" autoplay loop></video>
                    </div>

                    <!-- Visible SVG -->
                    <svg viewBox="0 0 600 300" class="svg-inverted-mask">
                        <rect width="100%" height="100%" mask="url(#m-text)" class="shape--fill" />
                        <use xlink:href="#s-text" class="text--transparent"></use>
                    </svg>
                </div>
            </div>
	        <div class="logo-description">
	            <p class="site-name">Paweł <span class="bold">Basiak</span></p>
	            <p><span class="bold">Front-end</span> Developer</p>
	        </div>
		</div>

		<div class="contact">
			<p class="phone">+48 792 516 921</p>
			<p class="awesome">
				<ul>
					<li><a href="gg:9159554"><i class="fa fa-sun-o"></i></a></li>
					<li><a href="skype:pawel.basiak01"><i class="fa fa-skype"></i></a></li>
					<li><a href="https://www.behance.net/pbasiak"><i class="fa fa-behance"></i></a></li>
					<li><a href="https://pl.linkedin.com/pub/pawe%C5%82-basiak/a7/b73/325"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="/kontakt.html"><i class="fa fa-envelope"></i></a></li>
					<li><a href="https://twitter.com/pbasiak01"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/pawelb3"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://plus.google.com/u/0/109429575263842418559/posts"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</p>
		</div>
	</div>
</footer>