<header class="front-header">
    <div class="top-bar large">
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo-light.png" alt="Strona Główna">
                    <div class="logo-description">
                        <p class="site-name">Paweł <span class="bold">Basiak</span></p>
                        <p><span class="bold">Front End</span> Developer</p>
                    </div>
                </a>
            </div>
            {% include menu.html %}
        </div>
    </div>
</header>
<script>
$(document).on("scroll",function(){
  if($(document).scrollTop()>100){
      $(".top-bar").removeClass("large").addClass("small");
  } else{
      $(".top-bar").removeClass("small").addClass("large");
  }
});
</script>