<header class="front-header">
    <div class="top-bar large">
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo-light.png" alt="Strona Główna">
                    <div class="logo-description">
                        <p class="site-name">Paweł <span class="bold">Basiak</span></p>
                        <p><span class="bold">Front End</span> Developer</p>
                    </div>
                </a>
            </div>
            {% include menu.html %}
        </div>
    </div>
    <div id="large-header">
        <canvas id="demo-canvas"></canvas>
        <div class="front-header-text-2">
            <span>Projektuję & tworzę</span>
            <span>strony internetowe</span>
        </div>
        <div class="front-header-text">
            <span>Front end developer</span>
        </div>

        <div class="front-header-btns">
            <a href="/portfolio" class="button button--antiman button--round-l button--text-medium">Zobacz portfolio</a>
            <a href="/kontakt" class="button button--antiman button--round-l button--text-medium">Skontaktuj się!</a>
        </div>
    </div>
</header>
<script>
$(document).on("scroll",function(){
  if($(document).scrollTop()>100){
      $(".top-bar").removeClass("large").addClass("small");
  } else{
      $(".top-bar").removeClass("small").addClass("large");
  }
});
</script>