 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
 <title> {% if page.title %} {{ page.title }} | {% endif %} pbasiak </title>
 <meta name="description" content="pbasiak github.io home page">
 <meta name="keywords" content="pbasiak">
  <!--<link rel="icon" type="image/x-icon" href="images/favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
  
