<script type="application/javascript">



function draw() {
    var canvas = document.getElementById("canvas");
    if (canvas.getContext) {
      var ctx = canvas.getContext("2d");

      

      ctx.beginPath();
      ctx.moveTo(100, 45);
      ctx.lineTo(108,66);
      ctx.lineTo(129,51);
      ctx.lineTo(121,76);
      ctx.lineTo(146,76);
      ctx.lineTo(126,91);
      ctx.lineTo(147,106);
      ctx.lineTo(121,106);
      ctx.lineTo(129,130);
      ctx.lineTo(108,116);
      ctx.lineTo(100,140);
      ctx.lineTo(91,116);
      ctx.lineTo(71,130);
      ctx.lineTo(78,106);
      ctx.lineTo(53,106);
      ctx.lineTo(73,91);
      ctx.lineTo(53,76);
      ctx.lineTo(78,76);
      ctx.lineTo(71,51);
      ctx.lineTo(91,66);
      ctx.lineTo(100,40);
      ctx.fill();
    }


  }


</script>