<header class="front-header">
            <div class="top-bar">
                <div class="wrapper">
                    <div class="logo">
                        <a href="/">
                            <div class="logo-image">
                                <img src="{{ site.baseurl }}/img/logo_new.png" alt="">
                            </div>
                            <div class="logo-description">
                                <p class="site-name">Paweł <span class="bold">Basiak</span></p>
                                <p><span class="bold">Front End</span> Developer</p>
                            </div>
                        </a>
                    </div>
                    {% include menu.html %}
                </div>
            </div>

            <div class="front-slider">
                <p><span class="black">Front end</span> <span class="white">Developer</span></p>
            </div>

        </header>