<div class="wrapper">
    <div class="logo">
        <a href="/"><img src="img/logo.png" alt=""></a>
    </div>
    <nav class="navigation">
        <ul class="menu">
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/portfolio.html">Portfolio</a></li>
            <li><a href="/kontakt.html">Kontakt</a></li>
            <li><a href="/eksperymenty.html">Eksperymenty</a></li>
        </ul>
    </nav>
    <footer class="footer">
        GRAFIKA I REALIZACJA: <br> PAWEŁ BASIAK
    </footer>
</div>