<div id="slider">
		<div class="row">
			<!-- <div id="description">
				<h2>Techniki Internetowe</h2>
				<p>Zadania realizowane w ramach przedmiotu Techniki Internetowe <br /> Prowadzący: dr Włodzimierz Bzyl</p>
			</div>
			<div id="latest">
				<h3>Ostatnio dodane zadania</h3>
				<ul>
					<li><a href="">Aktualnie brak zadań</a></li>
				</ul>
			</div> -->

			<div class="slide-wrapper">
				<div class="slide-container">
					
					<article class="slide slide-1">
						<h1>SASS</h1>
						<p>Stronę wspiera SASS. Rozszerzenie, które wspomaga budowę kodu CSS</p>
					</article>

				</div>
				<div class="slide-container">
					
					<article class="slide slide-2">
						<h1>Compass</h1>
						<p>Compass to framework CSS. Dzięki niemu można szybciej zbudować stronę www oraz wykorzystać CSS we właściwy sposób</p>
					</article>
				</div>
				<div class="slide-container">
					
					<article class="slide slide-3">
						<h1>Zen Grids</h1>
						<p>Responsywne tworzenie struktury strony zbudowany w oparciu o SASS.</p>
					</article>
				</div>
				<div class="slide-container">
					
					<article class="slide slide-4">
						<h1>jQuery slider</h1>
						<p>Slider zbudowany w oparciu jQuery oraz skryptu jquery.cycle.all.js</p>
					</article>
				</div>
			</div>
			<div class="prev">PREV</div>
			<div class="next">NEXT</div>
		</div>
	</div>