html {
	background: url(../bg.jpg) !important;
	height: 100%;
}

body {
	background: rgba(255,255,255,0.83);
	height: 100%;
}

.tablex {
	display: table;
	width: 100%;
}

.item {
	display: table-cell;
	width: 25%;
}