.navbar-inverse {
	.navbar-nav {
		background: $header-nav-bg;
		@include border-radius(4px);
		> li {
			> a {
				@include links($header-nav-link, $header-nav-link-hover);
				text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
			}
		}

		> .active {
			> a {
				background: $header-nav-link-bg;
			}
		}
	}
}