.fit {
	font-weight: 300;
}

.fat {
	font-weight: 700;
}


/* FEATURE BOX */

.feature-box {
	clear: both;
	margin-bottom: 40px;

	h3 {
		font-size: 19px;
		margin-bottom: 0;
		color: $base-color;
	}

	.feature-box-icon {
		float: left;
		width: 35px;
		height: 35px;
		background: $base-color;
		@include border-radius(50%);
		text-align: center;
		margin-right: 15px;
		font-size: 18px;

		span {
			line-height: 34px;
			color: #fff;
		}
	}
}