@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300&subset=latin,latin-ext);
/* Layout */
/* Settings */
/* Style */
/* line 24, ../sass/_responsive.scss */
.left {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 29, ../sass/_responsive.scss */
.content {
  clear: left;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  float: right;
  width: 100%;
  margin-right: 0%;
  margin-left: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 8, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  /* background: url(../images/bg.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/* line 21, ../sass/style.scss */
a {
  color: #981418;
  text-decoration: none;
}
/* line 18, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #981418;
}
/* line 21, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #af0d12;
}
/* line 24, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #af0d12;
}
/* line 27, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #af0d12;
}

/* line 26, ../sass/style.scss */
.left {
  background: rgba(255, 255, 255, 0.9);
  color: #0b0b0b;
  margin-top: -10px;
  text-align: center;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0;
  border-radius: 0 0 20px 20px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 34, ../sass/style.scss */
.left .logo {
  float: left;
  width: 20%;
}
/* line 37, ../sass/style.scss */
.left .logo img {
  max-height: 90px;
  width: auto;
}
/* line 43, ../sass/style.scss */
.left .main-navigation {
  float: right;
  width: 50%;
}
/* line 46, ../sass/style.scss */
.left .main-navigation ul {
  list-style: none;
  padding: 0;
}
/* line 50, ../sass/style.scss */
.left .main-navigation ul li {
  line-height: 1.2em;
  display: inline-block;
}
/* line 54, ../sass/style.scss */
.left .main-navigation ul li a {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
}
/* line 61, ../sass/style.scss */
.left .main-navigation ul li span {
  font-size: 12px;
}

/* line 72, ../sass/style.scss */
.content .welcome {
  font-size: 40px;
  color: #fdfdfd;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
/* line 80, ../sass/style.scss */
.content .welcome .bold {
  font-weight: 800;
  font-size: 60px;
}

/* line 87, ../sass/style.scss */
.post {
  width: 50%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  float: left;
}

/* line 94, ../sass/style.scss */
.footer {
  font-size: 12px;
  clear: left;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

@media screen and (max-device-width: 800px) {
  /* line 102, ../sass/style.scss */
  html {
    background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed;
  }

  /* line 103, ../sass/style.scss */
  #bgvid {
    display: none;
  }
}
/* line 106, ../sass/style.scss */
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
