.section-dark-2.section-dark-form {
	background: darken($base-color, 3);
	margin-top: 20px;
	border-top: 3px solid $helper-color;
	border-bottom: 3px solid darken($base-color, 15);

	.form-control {
		background: darken($base-color, 7);
		border: 0;
		border-bottom: 2px solid darken($base-color, 20);
		padding: 0 1em;
		height: 3.5em;
		color: #fff;
	}
}