<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
        
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
        <script src="js/jquery.colorbox-min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body class="front-tpl">
        
        <header class="front-header">
            <div class="logo">
                <p><strong>Paweł Basiak</strong> - Frontend Developer</p>
            </div>
            <ul class="menu">
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/kontakt.html">Kontakt</a></li>
                <!-- <li><a href="/eksperymenty.html">Eksperymenty</a></li> -->
            </ul>

        </header>

        <div class="front-portfolio">
            {{ content }}
        </div>
        
        {% include bottom.html %}
    </body>
</html>
