<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
    </head>
    <body class="front-tpl">
        
        <header class="front-header">
            <ul class="menu">
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/kontakt.html">Kontakt</a></li>
                <li><a href="/eksperymenty.html">Eksperymenty</a></li>
            </ul>

        </header>

        <div class="front-content">
            {{ content }}
        </div>

    </body>
</html>
