<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
        {% include favi.html %}
    </head>
    <body class="front-tpl main-page">
        <div class="page-header">
            {% include header.html %}
        </div>

        <div class="front-content">
            <div class="wrapperx">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
        {% include bottom.html %}
        <script defer src="{{ site.url }}/js/pack.min.js"></script>
    </body>
</html>
