<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include head.html %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body class="front-tpl">
        
        <header class="front-header">
            <ul class="menu">
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/kontakt.html">Kontakt</a></li>
                <li><a href="/eksperymenty.html">Eksperymenty</a></li>
            </ul>

        </header>

        <div class="front-content">
            {{ content }}
        </div>

    </body>
</html>
