.default-tpl {
	h1 {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 1.5em;
	}

	.row {
		clear: both;
		overflow: hidden;
	}

	.main-content {
		width: 72%;
		float: left;
		padding-right: 30px;
	}

	.sidebar-right {
		width: 27%;
		float: left;
		padding: 20px;
		padding-top: 0;
		@include border-radius(3px);

		h4 {
			font-weight: 400;
		}

		p {
			font-weight: 300;
		}
	}
}