.experience {
	color: #fff;
	background: url(../img/pattern-blue.png);
	margin-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
	clear: both;
}

#expCounter 
{	list-style: none;
	padding: 0;
	overflow: hidden;
	clear: both;

	li {
		float: left;
		width: 33.333%;
		text-align: center;
		line-height: 72px;

		@media all and (max-width: 767px){
			width: 100%;
			margin-bottom: 40px;
		}

		span {
			font-size: 72px;
			color: #d1f21a;
			vertical-align: middle;
		}

		.exp-row {
			color: #d1f21a;
		}

		.exp-description {
			line-height: 1.5em;
			text-transform: uppercase;
		}
	}
}