.implementation-list {
	padding: 0 !important;
	list-style: none;
	margin-top: 100px;
	margin-bottom: 40px;

	@media all and (max-width: 991px) {
		text-align: center;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		width: 16.25%;
		text-align: center;
		position: relative;

		@media all and (max-width: 991px) {
			width: 20%;
			margin-bottom: 30px;
		}

		@media all and (max-width: 767px) {
			width: 32.5%;
		}

		@media all and (max-width: 480px) {
			width: 51%;
		}

		&:after {
			content: "";
			width: 65px;
			height: 39px;
			position: absolute;
			right: -36px;
			background-image: url(../img/arrow-white.png);
			background-repeat: no-repeat;

			@media all and (max-width: 991px) {
				display: none;
			}
		}

		&:nth-child(1):after {
			top: -39px;
		}

		&:nth-child(2):after {
			bottom: -39px;
			transform: rotateX(180deg);
		}

		&:nth-child(3):after {
			top: -39px;
		}

		&:nth-child(4):after {
			background-image: url(../img/arrow-green.png);
			bottom: -39px;
			transform: rotateX(180deg);
		}

		&:nth-child(5):after {
			background-image: url(../img/arrow-green.png);
			top: -39px;
		}

		&:nth-child(6):after {
			display: none;
		}
	}

	.item-content {
		display: inline-block;
		width: 150px;
		height: 150px;
		@include border-radius(50%);
		background: url(../img/pattern.jpg);
		position: relative;
		padding-top: 40px;
		text-align: center;

		h3 {
			font-size: 18px;
			font-weight: 400;
			color: #000;
			margin: 0;
		}

		p {
			font-size: 12px;
			color: #5b5b5b;
			margin: 0;
			line-height: 1.2em;
		}

		&.special {
			h3 {
				color: #fff;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			}

			p {
				color: #fff;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			}
		}
	}

	.item-content.special {
		background: url(../img/pattern-green.png);
	}
}

// Advantages list

.list--ok {
	list-style: none !important;
	padding-left: 10px !important;

	li {
		padding-left: 37px;
		margin-bottom: 7px;
		background: url(../img/list-ok.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
}

.list--not {
	list-style: none !important;
	padding-left: 10px !important;

	li {
		padding-left: 37px;
		margin-bottom: 7px;
		background: url(../img/list-minus.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
}
