.front-content {
	.portfolio--list {
		padding: 0;
		list-style: none;
	}
}

.single-portfolio-desc {
	margin-bottom: 40px;
	clear: both;
	overflow: hidden;
	position: relative;
	padding: 20px 0;

	h2 {
		margin-top: 0;
		margin-bottom: 0px;
		text-align: center;
		font-size: 18px;
		border-radius: 6px 6px 0px 0px;
		padding: 5px 0px;
		text-transform: uppercase;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
		background: transparent url("/img/skillbg.png") repeat scroll 0% 0%;
		background-size: cover;
		color: rgb(255, 255, 255);
		font-weight: 300;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	}

	dl {
		min-height: 120px;
		overflow: hidden;
		background: #fff;
    	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    	max-width: 100%;
		margin: 0 auto;
		padding: 20px;
		border-radius: 6px;
		position: relative;
		z-index: 20;
		border-top: 2px solid rgba(185, 215, 17, 0.71);
	}

	dt {
		font-weight: bold;
		float: left;
		width: 50%;
		font-size: 14px;
		text-align: right;
		padding-right: 20px;

		@media all and (max-width: 480px) {
			float: none;
			width: 100%;
			text-align: center;
			padding-right: 0;
		}
	}

	dd {
		float: left;
		width: 40%;
		color: #999;
		font-size: 14px;

		@media all and (max-width: 480px) {
			float: none;
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.extra {
		width: 98%;
		left: 1%;
		right: 1%;
		height: 20px;
		bottom: 16px;
		position: absolute;
		z-index: 10;
		background: #fff;
    	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    	max-width: 99%;
		margin: 0 auto;
		border-radius: 6px;
		transform: rotate(0.2deg);

		&:before {
			content: "";
			width: 98%;
			left: 1%;
			right: 1%;
			height: 20px;
			bottom: -1px;
			position: absolute;
			z-index: 10;
			background: #fff;
	    	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	    	max-width: 99%;
			margin: 0 auto;
			border-radius: 6px;
			transform: rotate(0.2deg);
		}
	}
}

.portfolio--article {
	width: 33.333%;
	float: left;
	border: 15px solid #e8e8e8;
	border-top-width: 30px;
	@include box-sizing(border-box);

	@media all and (max-width: 768px) {
		width: 50%;
	}

	@media all and (max-width: 480px) {
		width: 100%;
		padding: 0 10px;
	}

	.excerpt {
		padding-top: 10px;
		margin-bottom: 20px;
		background: #D3574A;
		padding-left: 10px;
		color: #fff;
		padding-right: 10px;
		padding-bottom: 10px;
		text-align: center;
		font-size: 14px;
		border-bottom: 3px solid #7D0C00;

		a {
			color: #fff;

			&:hover,
			&:active {
				opacity: 0.6;
			}
		}
	}

	.post-thumb-wrapper	{
		position: relative;
		overflow: hidden;
		background-size: cover !important;

		img {
			max-width: 100%;
		}

	}

	.post-thumb {
		display: block;
		height: 325px;
		overflow: hidden;
		@include transition(all 0.3s ease);
		@include transform(rotate(0deg) scale(1));

		&:hover {
			@include transform(rotate(15deg) scale(1.3));
		}
	}

	.post-thumb-hover {
		//display: none !important;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		@include transition(all 0.3s ease);
		background: transparent;
		opacity: 0;

		button {
			@include transition(all 0.3s ease);
			background: #33B8EF;
			border: 3px solid #33B8EF;
			@include border-radius(25px);
			color: #fff;
			font-family: 'Roboto';
			text-transform: uppercase;
			font-weight: 600;
			font-size: 12px;
			cursor: pointer;
			padding: 8px 16px;

			&:hover {
				background: transparent;
			}
		}

		@media all and (max-width: 480px) {
			display: block;
		}

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		&:hover {
			background: rgba(0,0,0,0.7);
			opacity: 1;
		}
	}
}


.portfolio--main-img {
	text-align: center;
}

.single-portfolio {
	h1 {
		margin-bottom: 20px;
	}

	.front-content {
		background-color: #e1e1e1;
		background-image: url(../img/pattern.jpg);
	}

	&.altemedia {
		.front-content {
			background-image: url(../img/portfolio/altemedia/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.agrobaza {
		.front-content {
			background-image: url(../img/portfolio/agrobaza/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.burley {
		.front-content {
			background-image: url(../img/portfolio/burley/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.kamerzysta {
		.front-content {
			background-image: url(../img/portfolio/kamerzysta/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.onlinehurt {
		.front-content {
			background-image: url(../img/portfolio/onlinehurt/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.romix {
		.front-content {
			background-image: url(../img/portfolio/romix/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.sztormgrupa {
		.front-content {
			background-image: url(../img/portfolio/sztormgrupa/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.victoria {
		.front-content {
			background-image: url(../img/portfolio/victoria/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.zegrze360 {
		.front-content {
			background-image: url(../img/portfolio/zegrze360/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	&.zusmiechem {
		.front-content {
			background-image: url(../img/portfolio/zusmiechem/transparent.png), url(../img/pattern.jpg) ;
			background-position: top center, top center;
			background-repeat: no-repeat, repeat;
			background-size: 100% auto, auto;
		}
	}

	.img-wrap {
		img {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
		}
	}
}

.grid {
	position: relative;
	margin: 0 auto;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 25%;
	padding: 10px;
	margin-bottom: 20px;

	@media all and (max-width: 767px) {
		width: 50%;
	}

	@media all and (max-width: 380px) {
		width: 100%;
	}
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.preview--open {
	pointer-events: auto;
}


/* circle overlay (generated SVG) */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.overlay circle {
	-webkit-transition: fill-opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: fill-opacity 0.3s, transform 0s 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
	fill: #1f1d1d;
	fill-opacity: 0;
}

.preview--open .overlay circle {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	fill-opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	transition: transform 0.6s cubic-bezier(0.5, 1, 0.2, 1);
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	color: #fff;
}

.js .description--grid {
	display: none;
}

.description--preview {
	position: fixed;
	z-index: 140;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2em 1em;
	text-align: center;
	opacity: 0;
	background: linear-gradient(180deg, transparent, #1f1d1d);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #6bd68a;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #6bd68a;
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}
