p.centered {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.box-half {
	margin-top: 40px;
	width: 50%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	background: rgba(255,255,255,0.2);
	padding: 20px;
	border-radius: 6px;
	min-height: 285px;

	h3 {
		margin-top: 0;
	}
}

.section-header {
	padding-bottom: 80px;
}

.section-transparent,
.section-blue,
.section-green {
	clear: both;
	overflow: hidden;
	padding: 80px 0;
	
	.section-description,
	.section-image {
		opacity: 1;

		&.not-active {
			opacity: 0;
		}
	}

	h2 {
		margin-top: 0;
	}

	img {
		max-height: 220px;
	}
}

.section-transparent {
	overflow: hidden;

	.section-image {
		float: right;
	}
}

.section-blue {
	color: #fff;
	background: url(../img/pattern-blue.png);
	overflow: hidden;
	clear: both;

	h2 {
		color: #d1f21a;
	}

	.section-description {
		padding-left: 25px;
	}
}

.section-green {
	color: #fff;
	background: url(../img/pattern-green.png);
	margin-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
}

// Content

.section-image {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	text-align: center;

	@media all and (max-width: 768px) {
		display: none;
	}
}

.section-description {
	display: inline-block;
	vertical-align: middle;
	width: 73%;
	text-align: left;

	@media all and (max-width: 768px) {
		width: 100%;
		text-align: center;
	}
}

.section-btns {
	text-align: center;
	padding: 50px;
	padding-bottom: 0;

	.button {
		float: none;
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		font-weight: 300;
		height: auto;
		max-width: 320px;
	}

	.button-text {
		color: #000;
		font-size: 16px;

		&:hover,
		&:focus {
			color: #33B8EF;
		}
	}

	.button--antiman {
		color: #fff;

		&:hover,
		&:focus {
			color: #000;
		}
	}
}

.website {
	background: url(../img/img-website.png) no-repeat;
	background-position: right center;

	h2,
	p {
		text-align: left;
	}

	p {
		max-width: 500px;
	}
}